/*
 * This file is part of OpenLevelUp!.
 * 
 * OpenLevelUp! is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * OpenLevelUp! is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with OpenLevelUp!.  If not, see <http://www.gnu.org/licenses/>.
 */

/*
 * Styles for OLU.view.sidecontent.Notes
 */

ul.olu-note-comments {
	list-style: none;
	padding: 0;
}

ul.olu-note-comments > li {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

span.olu-comment {
	display: block;
	margin-bottom: 5px;
}

span.olu-comment-details {
	display: block;
	text-align: right;
	color: #bbb;
	font-size: 0.9em;
}

p.olu-note-footer {
	text-align: center;
}
